body {
  background-color: black;
  color: red;
}

.logo {
  width: 200px;
  height: 100px;
}

h1 {
  color: white;
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
.container {
  overflow: hidden;
  overflow-x: scroll;
}

.scrolling {
  display: flex;
  width: 1000px;
}

.inner-border::-webkit-scrollbar {
  display: none;
}
